body{
    background-color: rgb(147, 198, 239);
}
.logo{
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
ul li{
    padding: 0px 10px;
}
img{
    height: 300px;
    width: 300px;
}
.first{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.second{
    display: flex;
    justify-content: space-between;
}
.box2{
    margin-left: 1050px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

a{
    display: flex;
    flex-direction: column;
}
button{
    height: 40px;
    width: 80px;
}
